.form {
  font-size: 15px;
  font-weight: bold;
  width: 40vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 30%;
  height: 20px;
}

p {
  display: inline;
}

.change {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.58);
  border: 5px rgba(0, 0, 0, 0.58);
  font-weight: bold;
  font-size: 15px;
}
.sep {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
form legend {
  font-size: 1rem;
}
.border {
  width: 90vmin;
  height: 50vmin;
}
button:hover {
  background-color: aliceblue;
  color: black;
}
